.gradle
/build/
gradle/wrapper
gradlew
gradlew.bat
*.class
bin

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

*.log

.DS_Store
*/.DS_Store
/*report.html


contract-tests/node_modules
contract-tests/package-lock.json